parameters:
    level: 8
    paths:
        - bin
        - src
        - tests

    checkMissingIterableValueType: false
    reportUnmatchedIgnoredErrors: false

    ignoreErrors:
        - '#Dynamic call to static method#' 
